[MASTER]
jobs=2 #number of processes to use

disable=
    line-too-long,
    missing-function-docstring,
    missing-module-docstring,
    logging-fstring-interpolation,
    abstract-class-instantiated,
    invalid-name,
